# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.virtualenv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
platform/
python-*/  # Python version-specific
share/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
*.cover
*.log
nosetests.xml
coverage.xml
*.hypothesis/
*.tox/
*.nox/
*.coverage
*.pytest_cache/
cover/
*.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# VS Code settings
.vscode/

# IntelliJ IDEA settings
.idea/

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
